[submodule "attendeez"]
	path = attendeez
	url = https://github.com/calebomondi/attendeez
[submodule "attendeez-tutor"]
	path = attendeez-tutor
	url = https://github.com/calebomondi/attendeez-tutor
[submodule "backend"]
	path = backend
	url = https://github.com/calebomondi/attendeez-backend
