[submodule "attendeez"]
	path = attendeez
	url = file:///C:/Users/hp/OneDrive/Desktop/Attendeez/attendeez
[submodule "attendeez-tutor"]
	path = attendeez-tutor
	url = file:///C:/Users/hp/OneDrive/Desktop/Attendeez/attendeez-tutor
[submodule "backend"]
	path = backend
	url = file:///C:/Users/hp/OneDrive/Desktop/Attendeez/backend
